<div class="banner flex-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1555244162-803834f70033?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">

  <div class="home-container flex-center">
    <div class="row landing-intro">
      <h1>Nunca mais deixa a sua comida <strong>se deperdiciar</strong>!</h1>
      <p>Nos oferecemos jeitos para os restaurantes venderem a comida antes que ela se estraga.</p>
      <div class="btn-home">
        <% if user_signed_in? %>
          <%= link_to("Eu tenho um restaurante", restaurants_my_restaurants_path, class:'btn btn-ghost')  %>
          <%= link_to("Eu quero ser cliente", restaurants_path, class:'btn btn-ghost')  %>
        <% else %>
          <%= link_to("Eu tenho um restaurante", new_user_session_path, class:'btn btn-ghost')  %>
          <%= link_to("Eu quero ser cliente", restaurants_path, class:'btn btn-ghost')  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
