<div class="container">
  <div>
    <br>
    <h2 class="text-center">Meus restaurantes:</h2>
      <% if !@restaurants.any? %>
        <p>Você ainda não criou nenhum restaurante.</p>
      <% end %>

    <div class="row">
      <%= render 'shared/cards', restaurant: @restaurants %>
    </div>
  </div>
</div>
